<h1 id="main-heading">Restaurants</h1>
 <a href="/new/" id="BnM-BTN" class="createNew">Create New</a>
<section>
    {{#each restaurants}}
    <a href="/restaurants/{{this.id}}">
        <article>
            <header style="background-image: url({{this.image}});"></header>
                <main>
                    <h1 id="rest-title">{{this.name}}</h1></a>
                    <br>
                        <p id="test">{{#each this.menus}}</p>
                            <p id="menus">{{this.title}}</p>
                                <p>{{#each this.items}}</p>
                                <br>
                                <p>{{restaurant.id}}</p>
                            <p id="items">{{this.name}} -- <em>£{{this.price}}</em></p>
                            <br>
                        {{/each}}
                        <p>{{this.ratings}}</p>
                    {{/each}}
                </main>
                <br>
            <footer id="menusNumber">{{this.menus.length}} Menus</footer>
        </article>
        {{/each}}
</section>