<main>
<h1 class="main-heading">Restaurants</h1>

<a href="/new/" class="BnM-BTN createNew">Create New</a>

<section aria-label="Restaurant sections">
    {{#each restaurants}}
    <a href="/restaurants/{{this.id}}" aria-label="Restaurant:{{this.name}}">
        <article aria-label="{{restaurant.name}} section">
            <header style="background-image: url({{this.image}});" aria-label="The image of the restaurant for {{restaurant.name}}"></header>
                    <h1 class="rest-title">{{this.name}}</h1></a>
                    <br>
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
                        <p class="test">{{#each this.menus}}</p>
                            <p class="menus">{{this.title}}</p>
                                <p aria-label="Item {{this.items.length}}">{{#each this.items}}</p>
                                <br>
                                <p>{{restaurant.id}}</p>
                            <p class="items" aria-label="The name of the restaurant is {{restaurant.name}} along with the pricing {{restaurant.price}}">{{this.name}} -- <em>£{{this.price}}</em></p>
                            <br>
                        {{/each}}
                        {{!-- <p>{{this.ratings}}</p> --}}
                    {{/each}}
                <br>
            <footer class="menusNumber" aria-label="The number of menus for {{restaurant.name}} is {{this.menus.length}}">{{this.menus.length}} Menus</footer>
        </article>
        {{/each}}
</section>
 </main>