<h1 if="title-rest">{{restaurant.name}}</h1>
    <section id="restaurant-section">
        <header id="restaurant-image" style="background-image: url({{restaurant.image}});"></header>
            <br>
            {{#each menus}}
            <article>
                <h2 class="menus">{{this.title}}</h2>
                <dl>
                    {{#each this.items}}
                        <dt>{{this.name}}</dt>
                            <dd>£{{this.price}}</dd>
                        <br>
                    {{/each}}
                </dl>
            </article>
    {{/each}}
     <div class="btn-group">

        <a href="/" id="back-btn" class="BnM-BTN">Back</a>

        <a href="/restaurants/{{restaurant.id}}/edit/" id="edit-btn" class="BnM-BTN">Edit</a>

        <form action="/restaurants/{{restaurant.id}}/delete" method="post">
            <input type="submit" class="BnM-BTN" name="Delete" value="Delete"/>
        </form>
    </div>
</section>